<section id="partnerships">
  <div class="container mt-5">
    <div class="text-center mb-4">

      <h6 class="title__s fw__500">الشراكات</h6>

    </div>
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-template class="text-center" carouselSlide>
          <div class="text-center img__data shadow__ele">
            <img src="assets/images/s__1.png" class="company__img mx-auto" alt="">


          </div>
          <div class="text-center">
            <p class="mt-2">
              react.js
            </p>
          </div>


        </ng-template>
        <ng-template class="text-center" carouselSlide>
          <div class="text-center img__data shadow__ele">
            <img src="assets/images/s__2.png" class="company__img" alt="">


          </div>
          <div class="text-center">
            <p class="mt-2">
              react.js
            </p>
          </div>


        </ng-template>
        <ng-template class="text-center" carouselSlide>
          <div class="text-center img__data shadow__ele">
            <img src="assets/images/s__3.png" class="company__img" alt="">


          </div>
          <div class="text-center">
            <p class="mt-2">
              react.js
            </p>
          </div>


        </ng-template>

        <ng-template class="text-center" carouselSlide>
          <div class="text-center img__data shadow__ele">
            <img src="assets/images/s__4.png" class="company__img" alt="">


          </div>
          <div class="text-center">
            <p class="mt-2">
              react.js
            </p>
          </div>


        </ng-template>

        <ng-template class="text-center" carouselSlide>
          <div class="text-center img__data shadow__ele">
            <img src="assets/images/s__5.png" class="company__img" alt="">


          </div>
          <div class="text-center">
            <p class="mt-2">
              react.js
            </p>
          </div>


        </ng-template>
        <ng-template class="text-center" carouselSlide>
          <div class="text-center img__data shadow__ele">
            <img src="assets/images/s__5.png" class="company__img" alt="">


          </div>
          <div class="text-center">
            <p class="mt-2">
              react.js
            </p>
          </div>


        </ng-template>
        <ng-template class="text-center" carouselSlide>
          <div class="text-center img__data shadow__ele">
            <img src="assets/images/s__4.png" class="company__img" alt="">


          </div>
          <div class="text-center">
            <p class="mt-2">
              react.js
            </p>
          </div>


        </ng-template>
        <ng-template class="text-center" carouselSlide *ngFor="let item of
          [1,2,4,5,6]">
          <div class="text-center img__data shadow__ele">
            <img src="assets/images/s__4.png" class="company__img" alt="">


          </div>
          <div class="text-center">
            <p class="mt-2">
              react.js
            </p>
          </div>


        </ng-template>

      </owl-carousel-o>

    </div>

  </div>

</section>
