<section id="initiatives" class="mt-5 pb-3">
    <h6 class="text-center fs__25 fw__500">
        المبادرات
    </h6>
    <div class="container">
        <div class="row mt-5">

            <div class="col-md-4 my__sm-4" *ngFor="let variable of [1,2,3]">
                <div class="bg-white shadow__ele br__radius__4 text-center pt-3 pb-4">
                    <img
                        src="assets/images/love_sa.png"
                        class="rounded-circle py-2 "
                        width="85"
                        alt=""
                    >
                    <div class="py-3 fs__19">عشان أحب السعودية</div>
                    <a href="">
                        التفاصيل
                        <i class="fa fa-arrow-left px-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
