<section>
    <div class="container">
        <div class="text-center mb-4">
            <h6 class="title__s fw__500">الإنجازات</h6>
            <p class="fs__17 ">
                صور و الأثر يتحدث
                <br>
                هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل          .
            </p>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="assets/images/baner_1.png" class="baner__img" alt="">
                <p class="px-3">
                    خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم.
                </p>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/baner_2.png" class="baner__img" alt="">
                <p class="px-3">
                    خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم.
                </p>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/baner_1.png" class="baner__img" alt="">
                <p class="px-3">
                    خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم.
                </p>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/baner_2.png" class="baner__img" alt="">
                <p class="px-3">
                    خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم.
                </p>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/baner_1.png" class="baner__img" alt="">
                <p class="px-3">
                    خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم.
                </p>
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/baner_2.png" class="baner__img" alt="">
                <p class="px-3">
                    خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم.
                </p>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
