<section class="px-3" id="advantage">
    <div class="container-fluid  mt__section">
        <div class="br__radius__4 sec">
            <h6 class="pt-5 pb-1 text-center color__white title__s  fw__500">المزايا والاهداف</h6>
            <div class="container fixed__sec">
                <div class="row ">
                    <div class="col-md-6">
                        <div class="bg-white shadow__ele br__radius__4 p-3 my__sm-4">
                            <img src="assets/images/Shape.png" class="pt-4 pb-2" alt="">
                            <h6>
                                مبادرات
                            </h6>
                            <p>
                                كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bg-white shadow__ele br__radius__4 p-3 my__sm-4">
                            <img src="assets/images/volunteer.png" class="pt-4 pb-2" alt="">
                            <h6>
                                فرص
                            </h6>
                            <p>
                                كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
