<footer id="footer">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-4">
                <p class="">
                    جميع الحقوق محفوظة – انوسوفت © 2021
                </p>
            </div>
            <div class="col-md-6 content-end">
                <p class="">
                    سياسة الخصوصية  |  الشروط و الأحكام
                </p>
            </div>
            <div class="col-md-2 content-end">
                <ul class="list-unstyled">
                    <li>
                        <i class="fab fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fab fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fab fa-facebook"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
