<header id="header">

  <div id="carouselExampleDark" class="carousel carousel-dark slide"
    data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active"
        [ngStyle]="{'background-image':'url('+images[0]+')' }"
        data-bs-interval="3000">
        <div class="carousel-caption h-100 d-flex justify-content-center
          align-items-center">
          <div class="animate__animated animate__bounceInUp">
            <h5 class="fs__25 fw__500">منصة الاختبار انوسوفت </h5>
            <p class="fs__22">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى
              أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
              النشر.</p>
            <button class="fw__50 fs__18">التسجيل في المنصه</button>

          </div>

        </div>
      </div>

      <div class="carousel-item"[ngStyle]="{'background-image':'url('+images[0]+')'
        }" data-bs-interval="3000">
        <div class="carousel-caption h-100 d-flex justify-content-center
          align-items-center">
          <div class="animate__animated animate__bounceInRight">
            <h5 class="fs__25 fw__500">منصة الاختبار انوسوفت </h5>
            <p class="fs__22">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى
              أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
              النشر.</p>
            <button class="fw__50 fs__18">التسجيل في المنصه</button>

          </div>

        </div>
      </div>

      <div class="carousel-item"[ngStyle]="{'background-image':'url('+images[0]+')'
        }" data-bs-interval="3000">
        <div class="carousel-caption h-100 d-flex justify-content-center
          align-items-center">
          <div class="animate__animated animate__fadeInDownBig">
            <h5 class="fs__25 fw__500">منصة الاختبار انوسوفت </h5>
            <p class="fs__22">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى
              أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
              النشر.</p>
            <button class="fw__50 fs__18">التسجيل في المنصه</button>

          </div>

        </div>
      </div>


    </div>
  </div>

</header>
